.playlistContainer{
    margin-top: 3rem;
    background-color: rgba(55, 99, 174, 0.7);
    width: 40%;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
}

.button{
    background-color: blueviolet;
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
    width: 50%;
}

.input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    padding-top: 2rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

